<link rel="stylesheet" href="./css/bootstrap.min.css">

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
  </head>
  <!--Header footer for page WIP-->
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/footer.ejs') %>

  <p> Welcome to my test websites where i practice different aspects of web developement</p>
</html>