<link rel="stylesheet" href="./css/bootstrap.min.css">

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
  </head>

  <%- include('./partials/header.ejs') %>

  <%- include('./partials/footer.ejs') %>

<div class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>
</html>